/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            [path: "$params.outdir/QC/", mode: params.publish_dir_mode, pattern: '*_{fastqc.html}']
        ]
        cpus   = 2
        memory = { 8.GB   * task.attempt }
        time   = { 15.m   * task.attempt }
    }

    withName: SAMTOOLS_MERGE {
        cpus   = { 8    * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = { 1.h  * task.attempt }
    }

    withName: STAR_ALIGN {
        cpus   = { 12    * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = { 1.h   * task.attempt }
        ext.args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate'
    }

    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/QC" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: UMITOOLS_DEDUP {
        ext.args = "--umi-separator=:"
        ext.prefix = { "${meta.id}.markdup" }
        publishDir = [
            [path: "$params.outdir/bam_files/", mode: params.publish_dir_mode, pattern: '*.ba*']
        ]
        clusterOptions = "--gres=tmpspace:50G"
    }

    withName: SUBREAD_FEATURECOUNTS {
        publishDir = [
            [path: "$params.outdir/feature_counts/", mode: params.publish_dir_mode, pattern: '*featureCounts.txt*'],
        ]
    }
}