//Temporary workaround to enforce memory requirements for sge jobs
params {
  fastqc_mem = '1G'
  bwa_mem = '34G'
  markdup_mem = '34G'
  splitintervals_mem = '6G'
  bqsrtable_mem = '34G'

  gatherbqsrtables_mem = '6G'
  bqsr_mem = '34G'
  haplotypecaller_mem = '34G'
  //mergegvcf_mem = '6G'
  mergevcf_mem = '34G'
  combinegvcfs_mem = '66G'
  genotypegvcfs_mem = '34G'
  multiqc_mem = '6G'
  collectmultiplemetrics_mem = '34G'
  collectwgsmetrics_mem = '34G'
  selectvariants_mem = '34G'
  variantfiltration_mem = '34G'
  mergebams_mem = '34G'
}


executor {
    $sge {
      queueSize = 1000
    }
    $slurm {
      queueSize = 1000
    }
}

profiles {
  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = '-P cog_bioinf '
  }

  slurm {
    process.executor = 'slurm'
    //process.clusterOptions = '--gres=tmpspace:2G '
    process.queue = 'cpu'
  }
}

process {
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel : GATK {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/gatk4.1.3.0.squashfs'
      time = '24h'
      memory = '34G'
    }


    withName : FastQC {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/fastqc-0.11.5.squashfs'
      memory = params.fastqc_mem
      time = '1h'
    }

    withName : BWAMapping {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/bwa-0.7.17_samtools-1.9.squashfs'
      cpus = 12
      penv = 'threaded'
      memory = params.bwa_mem
      time = '8h'
    }

    withName : MarkDup {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/sambamba-0.6.8.squashfs'
      cpus = 10
      penv = 'threaded'
      memory = params.markdup_mem
      time = '4h'
    }

    withName : MergeBams {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/sambamba-0.6.8.squashfs'
      cpus = 10
      penv = 'threaded'
      memory = params.mergebams_mem
      time = '4h'
    }

    withName : SplitIntervalsChrom {
      memory = params.splitintervals_mem
      time = '1h'

    }

    withName : SplitIntervalsChunk {
      memory = params.splitintervals_mem
      time = '1h'

    }

    withName : BaseRecalibrationTable {
      memory = params.bqsrtable_mem
      time = '4h'
    }

    withName : GatherBaseRecalibrationTables {
      memory = params.gatherbqsrtables_mem
      time = '4h'
    }

    withName : BaseRecalibration {
      memory = params.bqsr_mem
      time = '4h'
    }

    withName : HaplotypeCaller {
      memory = params.haplotypecaller_mem
      time = '24h'
    }

    witName : MergeVCFs {
      memory = params.mergevcf_mem
      time = '24h'
    }


    withName : CombineGVCFs {
      memory = params.combinegvcfs_mem
      time = '24h'
    }

    withName : GenotypeGVCFs {
      memory = params.genotypegvcfs_mem
      time = '8h'
    }

    withName : CollectMultipleMetrics {
      memory = params.collectmultiplemetrics_mem
      time = '8h'
    }

    withName : CollectWGSMetrics {
      memory = params.collectwgsmetrics_mem
      time = '8h'

    }

    withName : MultiQC {
      memory = params.multiqc_mem
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/multiqc-1.5.squashfs'
      time = '4h'
    }

    withName : SelectVariants {
      memory = params.selectvariants_mem
      time = '24h'
    }

    withName : VariantFiltration {
      memory = params.variantfiltration_mem
      time = '24h'
    }


}

report {
  enabled = true
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /hpc -B $TMPDIR:$TMPDIR'
}

cleanup = true
