profiles {

  sge {
    process.executor = 'sge'
    process.queue = 'all.q'
    process.clusterOptions = '-P cog_bioinf'
  }

  slurm {
    process.executor = 'slurm'
    process.queue = 'one'
  }

}

process {
    errorStrategy = 'finish'

/*    withName : FastQC {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/fastqc-0.11.5.squashfs'

    }
    withName : Mapping {
      container = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/Singularity-images/bwa-0.7.17_samtools-1.9.squashfs'
    }
*/
}

report {
  enabled = true
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /hpc'
}
cleanup = true
