params {

  genome_fasta = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
  genome_known_sites = ['/hpc/cog_bioinf/common_dbs/GATK_bundle/1000G_phase1.indels.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/dbsnp_137.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/Mills_and_1000G_gold_standard.indels.b37.vcf']
  genome_dbsnp = '/hpc/cog_bioinf/common_dbs/GATK_bundle/dbsnp_137.b37.vcf'
  genome_dbnsfp = '/hpc/cog_bioinf/common_dbs/dbNSFP/dbNSFPv2.9/dbNSFP2.9.txt.gz'
  genome_variant_annotator_db = '/hpc/cog_bioinf/common_dbs/cosmic/CosmicCodingMuts_v76.vcf.gz'
  genome_snpsift_annotate_db = '/hpc/cog_bioinf/common_dbs/GoNL/gonl_release5/site_freqs/gonl.snps_indels.r5.sorted.vcf.gz'
  genome_intervals = ''
  scatter_interval_list = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/resources/Homo_sapiens.GRCh37.GATK.illumina.chromosomes.interval_list'
  scatter_count = '1000'

}
