params {
  //fastq_path = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/test_set'
  //fastq_path = '/hpc/cog_bioinf/ubec/useq/raw_data/external/190722_NB500901_0157_AHHL7YBGXB/Data/Intensities/BaseCalls/Blastocyst-pool-2/'
  fastq_path = '/hpc/cog_bioinf/ubec/useq/raw_data/external/HMFreg0528_UMCU-002-USEQ065/'
  out_dir = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/output/HMFreg0528_UMCU-002-USEQ065'

  sambamba_listsize = '2000000'

  genome_fasta = '/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
  genome_known_sites = ['/hpc/cog_bioinf/common_dbs/GATK_bundle/1000G_phase1.indels.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/dbsnp_137.b37.vcf',
  '/hpc/cog_bioinf/common_dbs/GATK_bundle/Mills_and_1000G_gold_standard.indels.b37.vcf']
  genome_dbsnp = '/hpc/cog_bioinf/common_dbs/GATK_bundle/dbsnp_137.b37.vcf'
  genome_intervals = ''
  scatter_interval_list = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/resources/Homo_sapiens.GRCh37.GATK.illumina.chromosomes.interval_list'
  scatter_count = '100'
}
