/* Always include process and resources config */
includeConfig '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/NextflowModules/IAP-Reloaded/process.config'
includeConfig '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/NextflowModules/IAP-Reloaded/resources.config'

params {
  fastq_path = ''
  bam_path = ''
  vcf_path = ''
  out_dir = ''

  //optional parameters
  premapQC = true

}
